{%- import "_macros.jinja" as macros -%}
{%- if session.is_some() || !participants.is_empty() -%}

# Context

{{ macros::session_context(session=session) }}
{%- if !participants.is_empty() %}
Participants:
{%- for p in participants %}

- {{ p.name }}{% if p.job_title.is_some() %} ({{ p.job_title.as_ref().unwrap() }}){% endif %}
  {%- endfor %}
  {%- endif %}

{% endif -%}
<note>
{{ enhanced_note }}
</note>

Now, give me SUPER CONCISE title for above note. Only about the topic of the meeting.
